.headerContainer {
  height: 80px;
  border-bottom: 1px solid #dddddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.headerTitle{
  cursor: pointer;
}

.headerTitle h1 {
  font-size: 27px;
  color: #bf1e2e;
}

.headerTitle p {
  font-size: 13px;
  color: #353a5d;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
